# macOS
.DS_Store
**/.DS_Store

# Python
__pycache__/
**/__pycache__/
*.py[cod]

# Virtual environments
.venv/
**/.venv/
venv/
**/venv/

# Jupyter checkpoints
.ipynb_checkpoints/
**/.ipynb_checkpoints/

# Data outputs
*.csv
**/*.csv

# Images
*.png
**/*.png

# Output folders
traject_file/
**/traject_file/
try_cluster/
**/try_cluster/
try_segment_traj/
**/try_segment_traj/

*.html
*.json
*.geojson

# Exception: track only these two HTML files
!Kompass_Spot/refilled_locations_map_light_NL_floor1.html
!Kompass_Spot/refilled_locations_map_light_NL_floor2.html

# Exception: track only file into Barendrecth
!Kompass_Spot/inputBarendrecth/*

Analysis_Feb_26/Media_maintenance_Ariadne_NL.ipynb
Analysis_Feb_26/Media_maintenance_Ariadne_NL.ipynb
